*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

header{
  width:100%;
  background-color: black;
  min-height: 200px;
}

.hand{
  width:50%;
  min-height: 200px;
  display: flex;
  background-color: lightgreen;
  justify-content: flex-start;
  align-items: stretch;
  margin: 50px auto;
}

.playercard{
  width:30%;
  flex-shrink: 6;
  background-size: cover;
}

#console{
  display:flex;
  width:50%;
  background-color: lightgrey;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
button{
  padding:50px;
  width: 50%;
}

#cpusection div:nth-child(2){
  background-image:url(../resources/deckback.png)!important;
}

.deckback{
  position:absolute;
  left:50%;
  top:50%;
  width:250px;
  min-height:350px;
  transform: translate(-50% , -50%);
  background-image: url(../resources/deckback.png);
  background-size: contain;
  background-repeat:no-repeat;
  border-radius: 18px;
}


#upper{
  z-index: 5;
  background-color: black;
}

.tocpu{
  animation:cardbackslidetocpu .3s linear 1;

}

.toplayer{
  animation:cardbackslidetoplayer .3s linear 1;
}

@keyframes cardbackslidetoplayer{
  50%{transform: translate(-50% , 30%); opacity : .8}
  60%{transform: translate(-50% , 40%;); opacity : .7}
  70%{transform: translate(-50% , 45%); opacity : .5}
  100%{transform: translate(-50% , 50%); opacity : .0}
}

@keyframes cardbackslidetocpu {
  50%{transform: translate(-50%, -80% ); opacity : .8}
  60%{transform: translate(-50%, -90% ); opacity : .7}
  70%{transform: translate(-50%, -95% ); opacity : .5}
  100%{transform: translate(-50%, -100% ); opacity : .0}
}
