*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

header{
  width:100%;
  background-color: black;
  min-height: 100px;
  color:white;
}

.hand{
  width:80vw;
  min-height: 200px;
  display: flex;
  background-color: lightgreen;
  justify-content: flex-start;
  align-items: stretch;
  margin: 50px auto;
}

.playercard{
  width:30%;
  flex-shrink: 6;
  background-size: cover;
}

main{
  display: flex;

}

#deck{
  display:flex;
  width:20%;
  background-color: lightgrey;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  position: relative;
  min-height:calc(100vh - 100px);
}
button{
  padding:50px;
  width: 50%;
}


.deckback{
  position:absolute;
  left:50%;
  width:180px;
  min-height:260px;
  transform: translate(-50% , -50%);
  background-image: url(../resources/deckback.png);
  background-size: cover;
  background-repeat:no-repeat;
  border-radius: 18px;
}


#upper{
  z-index: 5;
  background-color: black;
}

@keyframes cardbackslidetoplayer{
  50%{transform: translate(-50% , 30%); opacity : .8}
  60%{transform: translate(-50% , 40%;); opacity : .7}
  70%{transform: translate(-50% , 45%); opacity : .5}
  100%{transform: translate(-50% , 50%); opacity : .0}
}
@keyframes cardbackslidetoplayer2{
  50%{transform: translate(-50% , 30%); opacity : .8}
  60%{transform: translate(-50% , 40%;); opacity : .7}
  70%{transform: translate(-50% , 45%); opacity : .5}
  100%{transform: translate(-50% , 50%); opacity : .0}
}

@keyframes cardbackslidetocpu {
  50%{transform: translate(-50%, -80% ); opacity : .8}
  60%{transform: translate(-50%, -90% ); opacity : .7}
  70%{transform: translate(-50%, -95% ); opacity : .5}
  100%{transform: translate(-50%, -100% ); opacity : .0}
}

@keyframes cardbackslidetocpu2{
  50%{transform: translate(-50%, -80% ); opacity : .8}
  60%{transform: translate(-50%, -90% ); opacity : .7}
  70%{transform: translate(-50%, -95% ); opacity : .5}
  100%{transform: translate(-50%, -100% ); opacity : .0}
}
